.img-slider,
.img-slider-1,
.img-slider-2,
.img-slider-3 {
    background: url(../../assets/ab.png) center center no-repeat;
    height: 340px;
    margin: 0 auto;
    width: 100%;
    border-radius: 2rem;
    background-size: cover;
}

.img-slider-1 {
    background: url(../../assets/anhnen2.jpg) center center no-repeat;
    height: 340px;
    margin: 0 auto;
    width: 100%;
    border-radius: 2rem;
    background-size: cover;
}

.img-slider-2 {
    background: url(../../assets/anhnen3.jpg) center center no-repeat;
    height: 340px;
    margin: 0 auto;
    width: 100%;
    border-radius: 2rem;
    background-size: cover;
}

.img-slider-3 {
    background: url(../../assets/anhnen1.jpg) center center no-repeat;
    height: 340px;
    margin: 0 auto;
    width: 100%;
    border-radius: 2rem;
    background-size: cover;
}

.body-slider {
    .slick-prev {
        display: none !important;

    }

    .slick-next {
        display: none !important;
    }

    .slick-dots li button:before {
        font-size: 0.8rem;

    }
}